# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db